<section>
  <form 
  fxLayout="column"
    fxLayoutAlign="center center"
   #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
  <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="!emailInput.hasError('required')"
        >Invalid email</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Your password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwdInput="ngModel"
      /><mat-error *ngIf="!pwdInput.hasError('required')"
      >wrong password</mat-error
    >
    </mat-form-field>
    <button *ngIf="!isLoading" style="margin-top: 10px;" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Log in</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
